@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    8. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

:root{
  --primary-quote-text: hsl(193, 38%, 86%);
  --primary-quote-title: hsl(150, 100%, 66%);

  --neutral-background-color:hsl(218, 23%, 16%);
  --neutral-card-background-color:hsl(217, 19%, 24%);
  --neutral-dice-color: hsl(218, 23%, 16%);

  --font-size: 28px;
  --font-family: "Manrope", sans-serif;
  --font-weight: 800;
}

body{
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  font-size: var(--font-size);
  text-align: center;

  background-color: var(--neutral-background-color);

  margin: 1em
}

.wrapper,
.top__section picture
{
  margin: 0 auto;
}

.wrapper{
  min-width: 367px;
  max-width: 500px;

  margin-top: 2em;

  color: var(--primary-quote-text);

  display: flex;
  flex-direction: column;
}

.top__section {
  background-color: var(--neutral-card-background-color);
  display: grid;
  gap: 1.2em;

  padding: 1em 1em;
  border-radius: 10px;
}



.top__section h1{
  color: var(--primary-quote-title);
  font-size: 0.7rem;

  text-transform: uppercase;
  letter-spacing: 3px;
}

.top__section picture {
  margin-bottom: 0.7em;
}

.bottom__section button{
  position: relative;
  z-index: 1;
  bottom: 1rem;
  
  cursor: pointer;

  background-color: var(--primary-quote-title);

  border: 0.1rem solid var(--primary-quote-title);
  padding: 15px;
  border-radius: 50%;
  align-self: center;

}

button img{
  width: 1.2rem;
}


button:hover,
button:active,
button:focus{
  box-shadow: 0px 0px 10px 10px hsl(150, 100%, 66%, 0.3);
}

@media (min-width: 420px){
  body{
    margin:  0 1em;

    display: grid;
    place-content: center;
    height: 100vh;
  }
}